.circuit-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    pointer-events: none; 
     background-color: #050505;
  background-image: 
    linear-gradient(rgba(0, 243, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 243, 255, 0.03) 1px, transparent 1px);
  background-size: 40px 40px;
    overflow: hidden;
}


.circuit-svg {
    width: 100%;
    height: 100%;
    opacity: 0.6; 
}


.current-flow {
    stroke-linecap: round;
    stroke-dasharray: 0.3 0.7; 
    stroke-dashoffset: 1; 
    animation: flow linear infinite;
}


.cyan { stroke: #00f3ff; }
.green { stroke: #39ff14; }


.speed-slow { animation-duration: 15s; }
.speed-medium { animation-duration: 8s; }
.speed-fast { animation-duration: 4s; }
.speed-super-fast { animation-duration: 2.5s; }


.delay-1 { animation-delay: 2s; }
.delay-2 { animation-delay: 4s; }
.delay-3 { animation-delay: 6s; }


@keyframes flow {
    from {
        stroke-dashoffset: 1;
    }
    to {
        stroke-dashoffset: 0; 
    }
}